@charset "UTF-8";
#chat-container{
	margin: 0 auto;
	padding: 10px;
}
#msg-container {	
	height: 400px;
	overflow-y: scroll;
	background-color: #C9DAEB;
}
#msg-container ul {
	display: flex;
    list-style-type: none;
    flex-direction: column;
   
}
#msg-container ul li.center {
	margin: 10px auto;
	
}
#msg-container ul li.selfli {
	 margin: 10px 0;
	
	 align-items: flex-end;
}
#msg-container ul li {
     align-items: flex-start;
}
#msg-container span.badge {
	border: 1px solid #000;
	background-color : white;
	padding: 1px 5px  5px;
    border-radius: 5px;
    color : black;
}

#msg-container span.self {
	border: 1px solid #000;
	background-color : yellow;
	padding: 1px 5px 5px;
    border-radius: 10px;
    color : black;
  
    
 
}

#msg-container li.selfli {
	text-align:right;
}

.editor {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.editor textarea {
	width: 100%;
	margin-right: 5px;
	resize: none;
	height: 5vh;
}

#btn-userList{
	margin: 10px 100px;
}
#send {
	width : 70px;
	height : 37px;
}