@charset "UTF-8";

h1#groupTitle {
	text-align: center;
}

ul#memberList {
	text-align : center;
	list-style-type: none;
}
ul#memberList li {
	display: inline-block;
	font-size: 35px;
	margin : auto 10px;
	
}

table#rankingTable {
	text-align: center;
	border-bottom: 3px solid #D3D3D3;
	border-top: 3px solid #D3D3D3;
	margin : auto;
}

table#rankingTable th {
	width : 200px;
	height : 50px;
	border-bottom: 1px solid #D3D3D3;
	background-color: 	#F3F3F3;
}

table#rankingTable td{
	height : 40px;
	border-bottom: 1px solid #D3D3D3;
}
div#act-btn {
	text-align: center;
}


div#createMsg {
	text-align: center;
}