@charset "UTF-8";

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
		font-family: 'InfinitySans-RegularA1';
		height: 30vh;
		text-align: center;
		margin: 0 auto;
		padding: 0 auto;
		font-size: x-large;
	}
	.wrapper{
		width: 80%;
		margin: 0 auto;
		padding: 0 auto;
		
	}
	#title{
	font-size: 4rem;
	color: black;
	font-family: 'Exo', sans-serif;
	text-decoration-line : none;
	}
	#title span{
	color: #eb4b3f;
	font-family: 'Secular One', sans-serif;
	}
	#cola{
		width: 40px;
		
	}
	#header_title{
		font-size: 3rem;
	color: black;
	font-family: 'Exo', sans-serif;
	text-decoration-line : none;
	}
	#header_title span{
	color: #eb4b3f;
	font-family: 'Secular One', sans-serif;
	}
	.badge {
	  display: inline-block;
	  min-width: 10px;
	  padding: 3px 7px;
	  font-size: 12px;
	  font-weight: bold;
	  line-height: 1;
	  color: #fff;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: baseline;
	  background-color: #777;
	  border-radius: 10px;
	}
